.topMargin{
  margin-top: 8px;
}
/* .navItem{
  margin-left: 30px;
} */
/* .center {
  width:30%;
  margin-left: 35%;
} */

.navClick{
  color: white;
}

.navClick:hover{
  text-decoration: underline;
  font-weight: bold;
}

.navItem:hover{
  background-color: white;
}



.navItem{
  margin-top: 0px;
  padding-right: 5px;
}



.center{
  text-align: center;
}


/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* #nav {
  margin:0 auto;
  list-style:none;
  display:block;
  text-align:center;
  
} */

#nav ul {
  list-style: none;
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

#nav li{
  display: inline-block;
}

#nav .a{
  text-decoration: none;
  color: white;
  width: 100px;
  display: block;
  padding: 15px;
  font-size: 17px;
  font-family: Helvetica;
  transition: 0.4s;
}

#nav .a:hover{
  color:black;
}

.drc{
  padding-right:10px;
}


/* Change the link color to #111 (black) on hover */
li:hover {
  background-color:white;
}






