.center {
  /* width:30%; */
  margin-left: 20%;
}

.navClick{
  color: white;
}

#nav{
  height: 4em;
}

/* #navbar{
  margin-bottom: 49px;
 
} */

div{
  font-family: Avenir Medium,sans-serif;
}

.banner {
  background-color: white !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  vertical-align: auto;
  border-radius: 0;
  margin: 0 !important;
  padding: 20px !important;
  
}


.navItem:hover{
  border: 1px solid;
  border-color: white;
  border-width: thin;
}

.navItem{
  margin-right: 5px;
  border: 1px solid transparent;
}

.casualSection{
  margin-top: 65px;
  /* background-color: #ffc99d; */
}

#casual1{
  height: auto;
  max-width: 100%;
  
}

#casual2{
  
  height: auto;
  max-width: 100%;
  
}

.carousel{
  size: 50%;
}

.desc{
  margin-top: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

.desc-down{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}


.desc-down2{
  color: white;
  font-family: Avenir Medium,sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 300;  
}


.flex-container{
  display: flex;
  flex-wrap: nowrap;
}

.flex-item {
  flex: 1 1 auto;
  flex-basis: 33%;
}


#startBox{
  /* margin-left: 150px; */
  margin-right: 25px;
}


#colBegin{
  
  margin-left: 25px;
  margin-right: 25px;
}


#colEnd{
  margin-right: 25px;
}



.titleCent{
  text-align: center;
  color: white;
  margin-bottom: 35px;
  padding-top: 35px;
}

.casual{
  height: 25px;
}

.dool{
  text-align: center;
}


.rowsSection{
  background-color: black;
  
}





/* .navItem{
  margin-top: 0px;
  padding-right: 5px;
} */






/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* #nav {
  margin:0 auto;
  list-style:none;
  display:block;
  text-align:center;
  
} */

/* #nav ul {
  list-style: none;
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}
#nav li{
  display: inline-block;
}
#nav .a{
  text-decoration: none;
  color: white;
  width: 100px;
  display: block;
  padding: 15px;
  font-size: 17px;
  font-family: Helvetica;
  transition: 0.4s;
}
#nav .a:hover{
  color:black;
}
.drc{
  padding-right:10px;
}
/* Change the link color to #111 (black) on hover */
/* li:hover {
  background-color:white;
}  */