.center {
  /* width:30%; */
  margin-left: 20%;
}

.navClick{
  color: white;
}

#nav{
  height: 4em;
}

/* #navbar{
  margin-bottom: 49px;
 
} */

div{
  font-family: Avenir Medium,sans-serif;
}

.newNavBros{
  display: inline;
  margin-right: 10px;
}

.nl:hover{
  text-decoration: underline; 
}

.banner {
  background-color: white !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  vertical-align: auto;
  border-radius: 0;
  margin: 0 !important;
  padding: 20px !important;
  
}


.navItem:hover{
  border: 1px solid;
  border-color: white;
  border-width: thin;
}

.navItem{
  /* margin-right: 5px; */
  border: 1px solid transparent;
}

.casualSection{
  margin-top: 65px;
  /* background-color: #ffc99d; */
}

#casual1{
  height: auto;
  max-width: 100%;
  
}

#casual2{
  
  height: auto;
  max-width: 100%;
  
}

.carousel{
  size: 50%;
}

.carousel2{
  max-height: 400px;
}

.desc{
  margin-top: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

.desc-down{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}

#st{
  margin-left: 50px;
}

.desc-up{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
}


.desc-up2{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-bottom: 60px;
  text-align: center;
  margin-top: 30px;
}


.desc-down2{
  color: white;
  font-family: Avenir Medium,sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 300;  
}


.flex-container{
  display: flex;
  flex-wrap: nowrap;
}

.flex-item {
  flex: 1 1 auto;
  flex-basis: 33%;
}

.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;

}

.column-left {
  float: left;
  width: 33.333%;
}

.column-right {
  float: right;
  width: 33.333%;
}

.column-center {
  display: inline-block;
  width: 33.333%;
}


.column-left2 {
  float: left;
  
  width: 15%;
}


.column-center2 {
  display: inline-block;
  vertical-align: top;
  width: 15%;
}


.column-right2 {
  
  display: inline-block;
  width: 15%;
}

.column-space2 {
  
  display: inline-block;
  width: 20%;
}

.column-end2 {
  display: inline-block;
  vertical-align: top;

}

.column-left3 {
  float: left;
  
  width: 15%;
}


.column-center3 {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}


.column-right3 {
  
  display: inline-block;
  width: 15%;
}

.link{
  color: black;
}

.none{
  color: black;
}

#userIcon{
  margin-right: 5px;
}

.signIn{
  margin: 0;
  font-size: 15px;
  display: inline;
}

.myAccount{
  margin: 0;
  font-size: 15px;
}

/* .flex-container2{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-item2 {
  flex: 0 0 auto;
 
} */


.top-banner{
  font-size: 14px;
  text-align: center;
  color: white;
  background-color:	#686868;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mid-banner{
  font-size: 18px;
  text-align: center;
  color: white;
  background-color:	#686868;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.topcorner{
  position:absolute;
    top:120px;
    right: 75px;
}

#jerrywest{
  
  margin-right: 50px;
  margin-left: 100px;
  margin-bottom:50px;
  margin-top: 25px;
}

ul{
  display: inline;
}

.choice{
  margin-right: 10px;
  margin-left: 10px;
}


.loginLog{
  text-align: center;
  margin-top: 20px;
}

#startBox{
  /* margin-left: 150px; */
  margin-right: 25px;
}

#register{
  color: yellow;
}

#colBegin{
  
  margin-left: 25px;
  margin-right: 25px;
}


#startBoxPur{
  /* margin-left: 150px; */
  margin-right: 5px;
}


#colBeginPur{
  
  margin-left: auto;
  margin-right: 5px;
}

#endBoxPur{
  
  margin-right: auto;
  
}

#proTop{
  margin-top: 50px;
}

#colEnd{
  margin-right: 25px;
}

.pur-desc{
  margin-bottom: 0;
}

.titleCent{
  text-align: center;
  color: white;
  margin-bottom: 35px;
  padding-top: 35px;
}

.casual{
  height: 25px;
}

.dool{
  text-align: center;
}

.socHead{
  background-color: pink;
}

.socTitleCent{
  text-align: center;
  color: white;
  margin-bottom: 35px;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#socialSection{
  margin-bottom: 75px;
}


.rowsSection{
  background-color: black;
  margin-bottom: 100px;
  
}

#multi{
  padding-right: 30px;
}

#linkSection{
  background-color: #F0F0F0;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#linkStart{
  margin-left: 150px;
  margin-top: 25px;
  
}


#nextLink{
  margin-top: 25px;
  margin-right: 800px;
}

.linkText{
  font-size: 12px;
  font-weight: bold;
  text-decoration-line: underline;
}

.connect{
  margin-top: 10px;
}

#emailText{
  justify-content: top;
  font-size: 15px;
  font-weight: bold;
}

#bigIcon {
  font-size: 32px;
  margin-right: 25px;
}


.linkItems{
  font-size: 12px;
}


ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

li{
  /* -webkit-padding-start: 0; */
  margin-bottom: 10px;
}

.underBar{
  margin-bottom: 20px;
}


input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: black solid;
  border-width: thin;
}

.searchBut{
  padding-top: 6.75px;
  padding-bottom: 6.25px;
}

/* Dropdown Button */
.dropbtn {
  /* background-color: #686868; */
  color: black;
  padding: 16px;
  font-size: 16px;
  border: black solid;
  border-width: thin;
  padding: 10px;
  margin-left: 90px;
  
  
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 90px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */




